#root{
  text-align: center;
  background-color: #10494e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

table, th, td {
  border: 1px solid #867f72;
}

.main{
  display: flex;
  flex-direction: column;
}

.table{
  overflow-y: auto;
  height: 24rem;
  width: 50rem;
  display: flex;
  justify-content: center;
  background-color: #262637;
  align-items: center;
  box-shadow: 0 0 20px 3px white;
  border-radius: 10px;
}

.area{
  height: 7rem;
  display: flex;
  justify-content: center;
  background-color: #3e3e61;
  align-items: center;
  box-shadow: inset 0 0 10px 3px white;
  border-radius: 5px;
}

input{
  margin: 10px 10px;
}

.link{
  color: burlywood;
  background-color: #5a4d48;
}

.link a{
  text-decoration: none;
}

.purchase{
  background-color: #9b9a9a;
  color: white;
}

